# String

In [4]:
username = "budi"
print(username)
print(username.title())
print(username.upper())
print(username.lower())
print(len(username))

budi
Budi
BUDI
budi
4

In [8]:
first = "budi"
last = "susilo"

print("Fullname :", first, last)
print("Fullname : " + first + " "+ last)
print(f"Fullname : {first} {last}")

Fullname : budi susilo
Fullname : budi susilo
Fullname : budi susilo

In [ ]:
given = 'William'
middle = 'Sealy'
family = 'Gosset'

# Output 1
# William Sealy Gosset


# Output 2
# Gosset, William Sealy

## Casting

In [4]:
not_number = '123'
print(type(not_number))
int(not_number) + 100

<class 'str'>

223

In [6]:
not_float = '3.14159'
print(type(not_float))
print(float(not_float) + 100)

<class 'str'>
103.14159

In [8]:
try:
    int(not_float)
except:
    print("Error")

Error

## Handling Error

In [11]:
number = 10

try: 
    guess = int(input("Enter your guess number : "))
except :
    print("Please, enter a number!")
else:
    if guess == number:
        print("Nice!")
    else:
        print("Nice Try!!")
finally:
    print("done.")

Enter your guess number : cat
Please, enter a number!
done.

In [20]:
try:
    a = int(input("Input A : "))
    b = int(input("Input B : "))
    print(f"Hasil = {a // b} dan Sisa = {a % b}")
    
except ValueError:
    print("Masukkan hanya data angka.")

except ZeroDivisionError:
    print("Tidak bisa membagi angka dengan nol.")

Input A : 90
Input B : ana
Masukkan hanya data angka.

# Times

In [24]:
import pandas as pd

In [25]:
time = pd.Timestamp('06:30:00')
type(time)

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
date_of_birth = pd.Timestamp('August 20, 2000')
date_of_birth

Timestamp('2000-08-20 00:00:00')

In [27]:
now = pd.Timestamp.now()
now

Timestamp('2024-08-26 11:12:45.450600')

In [30]:
age = now - date_of_birth
age

Timedelta('8772 days 11:12:45.450600')

In [35]:
print(f'Days : {age.days}')
print(f'Seconds : {age.seconds}')

Days : 8772
Seconds : 40365

In [38]:
days = age.days
years = days // 365
days = days % 365

months = days // 30
days = days % 30

print(years, "tahun", months, "bulan", days, "hari")

24 tahun 0 bulan 12 hari

# Representing Location

In [40]:
lat = 42.3601
lon = -71.0589
boston = lat, lon
print(boston)
print(type(boston))
#immutable -> tidak dapat diubah

(42.3601, -71.0589)
<class 'tuple'>

In [41]:
import numpy as np

theta = 1
np.sin(theta/2)**2

0.22984884706593015

In [37]:
def haversine(theta):
    return np.sin(theta/2)**2

In [40]:
haversine_lamb = lambda theta : np.sin(theta/2)**2

In [38]:
haversine(1)

0.22984884706593015

In [43]:
haversine_lamb(1)

0.22984884706593015

In [44]:
type(haversine)

function

In [46]:
type(haversine_lamb)

function

### Contoh Diskriminan

In [48]:
def d_1(a, b, c):
    return b**2 - 4*a*c

d_2 = lambda a, b, c : b**2 - 4*a*c

In [49]:
d_1(1, 5, 6)

1

In [50]:
d_2(1, 5, 6)

1

# Contoh Menghitung 2 Titik Koordinat

In [51]:
def haversine_distance(coord1, coord2):
    R = 6372.8  # Earth radius in km
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = np.radians(lat1), np.radians(lat2) 
    dphi = np.radians(lat2 - lat1)
    dlambda = np.radians(lon2 - lon1)
    
    a = haversine(dphi) + np.cos(phi1) * np.cos(phi2) * haversine(dlambda)
    
    distance = 2 * R * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    return distance

In [52]:
london = 51.5074, -0.1278

haversine_distance(boston, london)

5265.656325981014